{
  "extends": "devine",
  "rules": {
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "babel/object-curly-spacing": [
      "error",
      "always"
    ],
    "sort-keys": [
      "error"
    ],
    "require-jsdoc": [
      "error",
      {
        "require": {
          "ArrowFunctionExpression": true,
          "ClassDeclaration": false,
          "FunctionDeclaration": true,
          "FunctionExpression": true,
          "MethodDefinition": true
        }
      }
    ],
    "valid-jsdoc": [
      "error",
      {
        "requireParamDescription": true,
        "requireReturnDescription": false
      }
    ]
  }
}