{
  "extends": "thibmaek",
  "rules": {
    "import/prefer-default-export": "off",
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "babel/object-curly-spacing": [
      "error",
      "always"
    ],
    "sort-keys": [
      "error"
    ],
  },
  "globals": {
    "RequestOptions": true
  }
}
