language: node_js

node_js:
- lts/*


before_install:
  - '[[ $(node -v) =~ ^v9.*$ ]] || npm install -g npm@latest' # Make sure to use lockfile (npm@5) for Node < v9
  - npm install -g greenkeeper-lockfile@1

before_script: greenkeeper-lockfile-update
script: npm run test
after_script:
  - greenkeeper-lockfile-upload
  - npm run flow:coverage

cache:
  directories:
  - node_modules

deploy:
  provider: npm
  email: thibault.maekelbergh@icloud.com
  api_key:
    secure: jQTBVJttav2U2+K05hhLQ8X1PiSXhtD8sSQ+c4dBk0/N/lV0rM7DULZvaKlpUa2h9yyPIeX/lBj4dyZ9oW58c6jQtSvehBkkXUqXRr4Ha9Hvj6GIKSXeoK7yS/pw0vnRq53wawMERTJ6F2xQW2KVdpEYDeY5GVPpADZeAk2dE9mEPilkybEh+IzHwyJlWYYiqo0xmfeU84tuOl1SZaoRqUSvkU1HIA58l6oFJcTdyZfRHLCRaZ6JWUe98OyquRM6msJnxQFuWHucgaK0764F0Qvb6tS0HifDvfzdUCbRx4FO1pYjLSuDVuDjc6rGILWparSB7aptUQAOWpYcfnqVRM66M6KP9Ysj9x2Crr54s9fdnyL+lk0T8lzvEGuzxXLqKYOThj9YaIuW95S2BoqNsvT6SQ62aoohKFf8fS2VjdKRCAFrSfhaOdK0X7qcIpk7H3m1mMEMqtdPOh7b2kRPHu0V0RrR9kMbuwN1pfhhokZpZpvkDuHn2bkPN/XgtW1flRHCCg671iZDkbt6nOV6T77SliyGMbOpL0nKyUDh/KYK6VCwLHPFIDVxi0HtoiAE9WBUlnR6xONId+lUuPSRUYCpNia0ilVuBettghJ3MUXpM2TeLhRr/qQuTpc6tBQaytv4ulXhfM4bfGG69Q41pxicC6GM5mwsi6cV5Fz1ncw=
  on:
    tags: true
    repo: thibmaek/pure-fun
env:
  global:
    secure: SH0Z8dxhK2p2MlfsbUb3gY7t5DZals4BnZgVHGh8PILMdFtpIb9jGS974nKQQGM1M+7s8p6Qt+YwvFZGeLDaxhUdGPwzWvTDdPvcFdTvkQr2VKwayDI2ov6rq30tciFsRDFIGVUqadmh/CvMv59cazqrGCYPgSHsM15llXF0So2dqqBDRLug/qcgIqh7MMLSM+YQLnyen8+5wlOWfM9FcUpderERSwGoYzMb8qeehpAF228lzflFN2Be+z58uQet8wKRbcwToJuWKMeCuz/3B2Wl++fHcQ0mYjkBzJeIBTa9A0WJ8gLmFXfeWNaXTTFFoAJS/8gYbTcqfjee2daQpykePuyKj0oV/RjQm3kqQvVGxn2IdZI4volYJIajWVHXB031LGgkwZ5EktBK6BgSvX5rk1w7lj/8WswuEpZR2jHbqBL5a2MbFEqbPanV/HnwU2NmyLlIYc1rdxnPDe5Mf/MHWmlZcHpwsxbxS9foYeAYE6L6b0FL1G4alTQaUuiHS5qpOnVlAF++UA24zuGHhDmFyfRXDTiMBDORzapsRxPN/+zNRxOo3Y/bsGrv9BSVL8/X++ZGUOwSX7taEYJhKWTg5O8yixxkVVHNQfk7m59Q9iHsOJCnDvqRmJ0r4ZxYPVbUjWD92C4oQFRW5+9gh8wgFhGvgk+JBV0OfWOiYwo=
